@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
/* Background styles */
body {
    background-image: url('https://user-images.githubusercontent.com/78994881/225419194-c7f3f515-96d8-40da-a107-5df69f78ba85.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;   

}

.App {
    margin-top: 15px;
    -webkit-backdrop-filter: blur(25px) saturate(7%);
    backdrop-filter: blur(25px) saturate(7%);
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 12px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;    
}